<!doctype html>
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
	<title>Penuts City Gen</title>
	
	{% load static %}
	{# CSS #}
	<link rel= "stylesheet" type= "text/css" href= "{% static 'worldgen/css/bootstrap.min.css' %}" />
	<link rel= "stylesheet" type= "text/css" href= "{% static 'worldgen/css/bootstrap-toggle.css' %}" />
	<link rel= "stylesheet" type= "text/css" href= "{% static 'worldgen/css/main.css' %}" />

	{# JS #}
	<script type=text/javascript src="{% static 'worldgen/js/jquery-3.1.1.min.js' %}"></script>
	<script type=text/javascript src="{% static 'worldgen/js/bootstrap-toggle.js' %}"></script>
	<script type=text/javascript src="{% static 'worldgen/js/bootstrap.min.js' %}"></script>
	
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	{# HEADER #}

	<div id="mainHeader" class="container text-center">
	  	<h1>Reroll That City! <small id="versionNum">v0.4</small></h1>  
	</div>
	{# END HEADER #}
	
	<div id="topSegment" class="well well-sm col-md-12">
		<div id="weather" class="col-sm-4 text-center">
			<h4> Todays Weather: Windy!</h4>				
		</div>
		<div id="populationContainer" class="col-sm-4 text-center">
			<h4> Population: <span id="population"> 150</span> </h4>
		</div>
		<div id="threatLevel" class="col-sm-4 text-center">
			<h4> Threat Level: High Alert <h4>
		</div>
	</div>

	{# START OF CONFIG #}
	<div class="col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading"> <h3 data-toggle="collapse" href="#collapse-config">City Config</h3></div>
			<div id="collapse-config" class="panel-collapse collapse">
				<div id="saveLoadRest">
					<button type="button" id="saveBtn" class="btn btn-primary btn sidebar-3">Save</button>	
					<button type="button" id="loadBtn" class="btn btn-primary btn sidebar-3">Load</button>	
					<button type="button" id="resetBtn" class="btn btn-primary btn sidebar-3">Reset</button>	
				</div>

				{# CITY OPTIONS #}
				<div id="cityToGen">
					<h3>City</h3>
					<div class="dropdown" id="citySize" >
					  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">City Size
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Hamlet</a></li>
					    <li><a href="#">Village</a></li>
					    <li><a href="#">Town</a></li>
					    <li><a href="#">City</a></li>
					  </ul>
					</div>
					<div id="citySizeText">	
					Village
					</div>
				</div>
				{# END CITY OPTIONS #}

				{# OTHER OPTIONS #}
				<form action="/world/" method="post" novalidate>
					{% csrf_token %}
					{{ genSeedForm }}
					
					<div id="buildingsToGen">			
						<h3> Buildings </h3>
						<div>
							{{ genBuildingsForm }}
						</div>	
					</div>

					<div id="npcsToGen">
						<h3>NPC's</h3>
						<div id="npcQuantInput">					
							<h4>NPCs to Gen: </h4>
							{{ genNpcsQuantForm }}
						</div>
						{{ genNpcsForm }}
					</div>

					<button type="submit"  id="rerollAll" class="btn btn-primary btn-lg">Reroll that City!</button>	
				</form>		

			</div>
		</div>
	</div>
	{# END OF CONFIG #}

{# START OF MAIN PAGE #}

	{# NPC BOX #}
	<div class="col-md-7 col-lg-5">
		<div id="npcTable" class="panel panel-primary">
			<div class="panel-heading"> <h3 data-toggle="collapse" href="#collapse-npc"> NPCs </h3></div>
			<div id="collapse-npc" class="panel-collapse collapse pre-scrollable">
				<table class="table table-striped table-condensed table-hover">
					<thead>
					 	<tr>
				            <th>First Name</th>
				            <th>Last Name</th>
				            <th>Race</th>
				            <th>Gender</th>
				            <th>Job</th>
				    	</tr>
				    </thead>
				    <tbody>
					{% for char in charList %}
						<tr id="job-{{char.job}}" data-toggle="modal" data-target="#modal-char-{{forloop.counter0}}">
							<td name="firstName">{{char.firstName}}</td>
				            <td name="lastName">{{char.lastName}}</td>
				            <td name="race">{{char.race}}</td>
				            <td name="gender">{{char.gender}}</td>
				            <td name="Job">{{char.job}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>			
	</div>
	{# END NPC BOX #}

	{# BUILDING BOX #}
	<div class="col-md-5 col-lg-4">
		<div id="buildingsTable" class="panel panel-primary">
			<div class="panel-heading"> <h3 data-toggle="collapse" href="#collapse-building">Buildings</h3></div>
			<div id="collapse-building" class="panel-collapse collapse">
				<table class="table table-striped table-condensed table-hover">
					<thead>
					 	<tr>
				            <th>type</th>
				            <th>name</th>
				    	</tr>
				    </thead>
				    <tbody>
					{% for building in buildingList %}
						<tr data-toggle="modal" data-target="#modal-{{building.type}}" onclick="modalOwnerSet(document.getElementById('modal-{{building.type}}'), document.getElementById('job-{{building.type}}' ))">
					        <td>{{building.type}}</td>	
					        <td>{{building.name}}</td>	
						</tr>
					{% endfor %}
					</tbody>
				</table>					
			</div>

		</div>
	</div>	
	{# END BUILDING BOX #}

	{# SEARCH BOX #}
	<div class="col-sm-5 col-md-4 col-lg-3">
		<div id="searchBar" class="panel panel-primary">
			<div class="panel-heading"> <h3 data-toggle="collapse" href="#collapse-search">Search</h3></div>
			<div id="collapse-search" class="panel-collapse collapse">
				<input type="text" id="myInput" onkeyup="searchBox()" placeholder="Search for names..">
				<div  class="pre-scrollable">
				{# WEAPONS TABLE #}
				<table class="table table-striped table-condensed table-hover">
					<thead>
					 	<tr>
				            <th>Weapon</th>
				            <th>Cost</th>
				    	</tr>
				    </thead>
				    <tbody id="myTbody">
				    {% for weapon in weapons %}
						<tr data-toggle="modal" data-target="#search-box-weapons" onclick="generateDrugModal({ 
							'name':'{{weapon.name}}',
							'cost': '{{weapon.costCopper}}C {{weapon.costSilver}}S {{weapon.costGold}}G',
							'dice':'{{weapon.damageDieQuant}}d{{weapon.damageDieType}} {{weapon.damageType}}',
							'weight': '{{weapon.weight}}',
							'properties': 
							[{% for weaponProperty in weapon.weaponProperties.all %}
		          			'{{weaponProperty}}', 
		          		 	{% endfor %}]
		          		})">
						<td> {{weapon.name}}</td>
						<td>{{weapon.costCopper}}C {{weapon.costSilver}}S {{weapon.costGold}}G</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				</div>	
			</div>
		</div>
	</div>
	{# END SEARCH BOX #}

	<div class="col-sm-5 col-md-4 col-lg-3">

		<div id="drugTable" class="panel panel-primary">
			<div class="panel-heading"> <h3 data-toggle="collapse" href="#collapse-drug">Drugs</h3></div>
			<div id="collapse-drug" class="panel-collapse collapse">
				<div  class="pre-scrollable">
				{# WEAPONS TABLE #}
				<table class="table table-striped table-condensed table-hover">
					<thead>
					 	<tr>
				            <th>Name</th>
				        	<th>type</th>
				    	</tr>
				    </thead>

				    <tbody>
				    {% for drug in drugList %}
						<tr data-toggle="modal" data-target="#search-box-weapons" onclick="generateDrugModal({ 
							'type':'{{drug.type}}',
							'name':'{{drug.name}}',
							'physAff1':'{{drug.physAff1}}',
							'physAff2':'{{drug.physAff2}}',
							'emotion':'{{drug.emotion}}',
							'strength':'{{drug.strength}}'
		          		})">
						<td>{{drug.name}}</td>
						<td>{{drug.type}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				</div>	
			</div>
		</div>
	</div>


	{# MODAL DECLARATION #}
		{% include "worldgen/modal.html" %}
	{# END MODAL DECLARATION #}

	<script type=text/javascript src="{% static 'worldgen/js/granim.min.js' %}"></script>
	<script type=text/javascript src="{% static 'worldgen/js/main.js' %}"></script>

{# END OF MAIN PAGE #}	
</body>
  	